
.login-main {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background: #e4e4e4;
    padding: 20px;
    gap: 50px;
}

.login-main-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-main-form div {
    font-size: 25px;
    align-self: center;
}

.login-main-form input {
    font-size: 25px;
    display: flex;
    align-self: center;
}

.login-main-form button {
    width: 200px;
    font-size: 25px;
    display: flex;
    align-self: center;
    justify-content: center;
}